:root {
	--content-padding-inline: 14px;
	--list-indent: 0;
}

#header {
	& {
		flex-direction: column;
	}

	& nav {
		padding-block: 4px;
		gap: 10px;
	}

	& nav a {
		padding: 8px;
	}

	& .logo-icon {
		padding-bottom: 0;
	}

	& .logo-title {
		margin-block-start: 0.5em;
		margin-block-end: 0.2em;
		font-size: 1.5em;
	}
}

.setting-list {
	padding-inline-start: 10px;
	column-gap: 10px;
}
